<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>Borrow Book</h1>
          </div>
          <div class="col-6 text-right">
            
          </div>
        </div>
      </div>
    </section>
  
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="input-group">
              <div class="container">
                <div class="row">

                  <div class="col-sm form-group">
                    <input type="text"
                        placeholder="Choose date"
                        class="form-control"
                        bsDatepicker
                        (bsValueChange)="valueFromDate($event)">
                  </div>
                  <div class="col-sm form-group">
                    <input type="text"
                        placeholder="Choose date"
                        class="form-control"
                        bsDatepicker
                        (bsValueChange)="valueToDate($event)">
                  </div>
  
                  <div class="col-sm">
                    <select class="form-control"  [(ngModel)]="month">
                      <option value="">Choose month</option>
                      <option *ngFor=" let m of listMonth"
                            [value]="m.m">
                            {{m.m}}
                      </option>
                    </select>
                  </div>
  
                  <div class="col-sm">
                    <button type="button" class="btn bg-blue" (click)="filter()">
                      <i class="fas fa-search"></i>
                    </button>
  
                    <button type="button" class="btn bg-secondary mx-3" (click)="setup()">
                      Refresh
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Book Name</th>
                  <th scope="col">Date Borrow</th>
                  <th scope="col">Date Repay</th>
                  <th scope="col">Status</th>
                  <th scope="col">Reader</th>
                  <th scope="col">Note</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let borrowBook of borrows | 
                  paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:count }; 
                  let index = index"
                  >
                  <td>
                      {{index + 1 + (pageNumber - 1) * pageSize}}
                      <sup style="color: red;" *ngIf="borrowBook.status == 'Đang xử lý'">New</sup>
                  </td>
                  <td>{{borrowBook.bookName}}</td>
                  <td>{{borrowBook.dateBorrow.format("DD/MM/YYYY")}}</td>
                  <td>{{borrowBook.dateRepay.format("DD/MM/YYYY")}}</td>
                  <td><label [ngClass]="{'badge-success': borrowBook.status ==='Đã trả', 'badge-info': borrowBook.status ==='Đang mượn', 'badge-danger': borrowBook.status ==='Quá hạn', 'badge-secondary': borrowBook.status ==='Đang xử lý'}" class="badge ">{{borrowBook.status}}</label></td>
                  <td>{{borrowBook.userName}}</td>  
                  <td>{{borrowBook.note}}</td>   
                  <td class="d-flex">
                    <button type="button" class="btn btn-sm badge-info mx-2 d-flex align-items-center" (click)="updateStatus(borrowBook)">
                      <i class="far fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-sm bg-danger mx-2 d-flex align-items-center" (click)="delete(borrowBook)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>           
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize: count }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <pagination-controls (pageChange)="onChangePage($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>