<div [@routerTransition]>
  <div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login Page</h3>
                            <p class="text-muted mb-4">Wellcome To Library Management</p>
                            <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
                                <div class="form-group mb-3">
                                    <input
                                          type="text"
                                          class="form-control rounded-pill border-0 shadow-sm px-4"
                                          name="userNameOrEmailAddress"
                                          [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                                          [placeholder]="'UserNameOrEmail' | localize"
                                          required
                                          maxlength="256"
                                          #userNameOrEmailAddressModel="ngModel"
                                          #userNameOrEmailAddressEl
                                        />
                                    <abp-validation-summary
                                        [control]="userNameOrEmailAddressModel"
                                        [controlEl]="userNameOrEmailAddressEl"
                                    ></abp-validation-summary>
                                </div>
                                <div class="form-group mb-3">
                                    <input
                                          type="password"
                                          class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                          name="password"
                                          [(ngModel)]="authService.authenticateModel.password"
                                          [placeholder]="'Password' | localize"
                                          required
                                          maxlength="32"
                                          #passwordModel="ngModel"
                                          #passwordEl
                                        />
                                      <abp-validation-summary
                                        [control]="passwordModel"
                                        [controlEl]="passwordEl"
                                      ></abp-validation-summary>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="rememberMe"
                                        name="rememberMe"
                                        [(ngModel)]="authService.rememberMe"
                                      />
                                    <label for="rememberMe" class="custom-control-label">Remember password</label>
                                </div>
                                <button type="submit" [disabled]="!loginForm.form.valid || submitting" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
</div>
